api: https://api.pathofexile.com
availableLeagues:
  - Standard
  - Crucible
  - Hardcore
league: Crucible
specialStashesHandling:
  unique: full
  # Don't switch to full
  map: partial
oauth:
  authTemplate: https://www.pathofexile.com/oauth/authorize?client_id={CLIENT_ID}&response_type=code&scope={SCOPE}&state={STATE}&redirect_uri={REDIRECT_URI}
  clientId: exilence
  redirect: https://next.exilence.app/api/authentication/redirect
  scope: account:stashes account:profile account:characters
  tokenTemplate: https://next.exilence.app/api/authentication/oauth2?code={CODE}
